<h1>Preview</h1>

<h2>{{fileData.name}}</h2>
<h2>{{fileData.ingredients}}</h2>
<h2>{{fileData.instructions}}</h2>

<p>Here we are</p>

<button type="submit" id="imageButton" class="btn">Submit</button>

 <img src={{file}} class="responsive-img" onerror="this.style.display='none'">