    <div style="padding: 0; background-color: #073B3A; display:flex; justify-content:center" >
    <img src="/Assets/Simmer.png" alt="simmering pot" style="max-width: 1500px;">
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="recipes-home" style="display: flex; justify-content:center; align-items:center;padding:10px; margin:20px ">
          <div class="col-9" >
          <h3 class="homepage-title" style="font-weight: 200; font-size:50px; margin:30px; text-align:center">Recipes</h3>
          <hr/>
           <p> <span style="font-family: 'Caveat', cursive; font-size: 60px">Simmer </span>is an app that let's you customize your very own cookbook and tell your friends about it!</p>
          <p> It's as simple as searching for a recipe you like, and adding it to your cookbook. To make things even better, you can include customized recipes in your cookbook too.</p>
          <p>Hang tight, and you'll be able to share them very soon with our Simmer Version 2.0!</p>
          <div style="display: flex; justify-content:center">
             <a href="/login" style=" padding: 12px;font-size:20px; color:white; background-color:#c85204; margin:20px">Sign up here!</a>
          </div>
         
        <br>
        <hr/>
         <div style="display: flex; align-items: center; "> 
            <img src="/Assets/strawberryCheesecake.jpg" alt="" width="450" height="350" style="padding:30px">
            <div style="display:flex; flex-direction:column">
              <p style="font-size: 20px; font-weight:300;"> Find any type of dessert! From chocolate cake to matcha cookies. Search for whatever those tastebuds desire!</p>
              <a href="/searchRecipes" style="font-size:20px; color:#c85204;">Search for dessert recipes >></a>
            </div>
          </div>
           <div style="display: flex; align-items: center"> 
            <img src="/Assets/nachos.jpg" alt="" width="500" height="350" style="padding:30px">
           <div style="display:flex; flex-direction:column">
              <p style="font-size: 20px; font-weight:300; "> Find any type of snack! From mouth-watering nachos to simple chia seed pudding. Search for whatever those tastebuds desire!</p>
              <a href="/searchRecipes" style="font-size:20px; color:#c85204;">Search for tasty snacks >></a>
            </div>
          </div>
           <div style="display: flex; align-items: center"> 
            <img src="/Assets/tuscan-salmon-recipe.jpg" alt="" width="450" height="350" style="padding:30px">
           <div style="display:flex; flex-direction:column">
              <p style="font-size: 20px; font-weight:300;"> Find any type of dish! From tuscan salmon to honey-glazed chicken. Search for whatever those tastebuds desire!</p>
              <a href="/searchRecipes" style="font-size:20px; color:#c85204;">Search for vegetarian dishes >></a>
            </div>
          </div>
            <hr/>
          <div>
          <h3 class="homepage-title"style="font-weight: 200; font-size:50px; margin:50px 30px 30px 30px; text-align:center">Top Unique Dishes</h3>
<br>
          </div>
          <div style="text-decoration:none;">
              {{#each recipes}}
              <div>
                <blockquote class="blockquote text-center">
                    <p class="mb-0" >{{name}}</p>
                    <footer class="blockquote-footer">{{User.username}}<!--USERNAME GOES HERE  --><cite title="Source Title"><!--LEAVE BLANK HERE  --></cite></footer>
                </blockquote>
              </div>
              {{/each}}
      <div style="display: flex; justify-content:center">
             <a href="/login" style=" padding: 12px;font-size:20px; color:white; background-color:#c85204; margin:20px">Sign up here!</a>
          </div>
          </div>
        </div>
        </div>
       
    </div>
    </div>