    <div class="row justify-content-center " id='hero-container'>
        <div class="col-4 offset-1">
            <img src="clipart3773520.png" width='250' height='250'  alt="...">
        </div>
        <div class="col-4" id='app-title-container'>
            <h1 id='app-title'>Simmer</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary" type="search" id="button-addon1">Search</button>
                </div>
                <input type="text" class="form-control" placeholder="Your favourite recipe..." aria-label="Example text with button addon" aria-describedby="button-addon1">
              </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-5">
          <h3>Recipes</h3>
          <hr/>
        </div>

        <div class="col-3">
          <h3>Top Unique Dishes</h3>
          <hr/>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-5">
            <div class="row row-cols-2">
                <div class="col"><img src="6H5A0297.crisp_.jpg" alt="Girl in a jacket" width="350" height="250"></div>
                <div class="col"><img src="nachos.jpg" alt="Girl in a jacket" width="350" height="250"></div>
                <div class="col"><img src="salmonRoll.jpg" alt="Girl in a jacket" width="350" height="250"></div>
                <div class="col"><img src="strawberryCheesecake.jpg" alt="Girl in a jacket" width="350" height="250"></div>
                <div class="col"><img src="chickenParm.jpg" alt="Girl in a jacket" width="350" height="250"></div>
                <div class="col"><img src="tuscan-salmon-recipe.jpg" alt="Girl in a jacket" width="350" height="250"></div>
              </div>
        </div>
        <div class="col-3">
          <ul>
              <li>
                <blockquote class="blockquote text-center">
                    <p class="mb-0">Chicken Parm</p>
                    <footer class="blockquote-footer">ahmad <!--USERNAME GOES HERE  --><cite title="Source Title"><!--LEAVE BLANK HERE  --></cite></footer>
                </blockquote>
              </li>

              <li>
                <blockquote class="blockquote text-center">
                    <p class="mb-0">Strawberry Cheesecake</p>
                    <footer class="blockquote-footer">abuzar <!--USERNAME GOES HERE  --><cite title="Source Title"><!--LEAVE BLANK HERE --></cite></footer>
                </blockquote>
              </li>

              <li>
                <blockquote class="blockquote text-center">
                    <p class="mb-0">buffalo chicken nachos</p>
                    <footer class="blockquote-footer">analia <!--USERNAME GOES HERE  --><cite title="Source Title"><!--LEAVE BLANK HERE  --></cite></footer>
                </blockquote>
              </li>

              <li>
                <blockquote class="blockquote text-center">
                    <p class="mb-0">Creamy Tuscan Salmon</p>
                    <footer class="blockquote-footer">jugraj <!--USERNAME GOES HERE  --><cite title="Source Title"><!--LEAVE BLANK HERE  --></cite></footer>
                </blockquote>
              </li>
           
              <li>
                <blockquote class="blockquote text-center">
                    <p class="mb-0">Strawberry Cheesecake</p>
                    <footer class="blockquote-footer">abuzar <!--USERNAME GOES HERE  --><cite title="Source Title"><!--LEAVE BLANK HERE --></cite></footer>
                </blockquote>
              </li>

              <li>
                <blockquote class="blockquote text-center">
                    <p class="mb-0">buffalo chicken nachos</p>
                    <footer class="blockquote-footer">analia <!-- USERNAME GOES HERE --><cite title="Source Title"><!--LEAVE BLANK HERE  --></cite></footer>
                </blockquote>
              </li>

              <li>
                <blockquote class="blockquote text-center">
                    <p class="mb-0">Creamy Tuscan Salmon</p>
                    <footer class="blockquote-footer">jugraj <!--USERNAME GOES HERE  --><cite title="Source Title"><!--LEAVE BLANK HERE  --></cite></footer>
                </blockquote>
              </li>
          </ul>
        </div>
    </div>