<div style="background-color: #073B3A; padding-top:40px">
  <h1 style="text-align: center; padding:60px; font-weight:200; color:white;  margin:0px; font-size:50px "> Login or Sign Up for <span style="font-family: 'Caveat', cursive; font-size: 70px"> Simmer</span>!</h1>
</div>
<div class="row" style="padding: 40px; background-color: #073B3A; color:white;margin:0px">
  <div class="col-md-6" style="padding:40px">
    <h2 style=" padding-bottom:20px; text-align: center; font-weight:200;font-size:40px; letter-spacing:3px">Login</h2>
    <form class="form login-form" style="display: flex; flex-direction:column; align-items:center">
      <div class="form-group">
        <label for="username-login">Username:</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" style="border:none;padding:10px; font-size:20px; background-color: #c85204; margin-top:5px">LOGIN</button>
      </div>
    </form>
  </div>
  <div class="col-md-6" style="padding:40px 40px 80px 40px">
    <h2 style=" padding-bottom:20px; text-align: center; font-weight:200;font-size:40px; letter-spacing:3px">Signup</h2>
    <form class="form signup-form" style="display: flex; flex-direction:column; align-items:center">
      <div class="form-group">
        <label for="username-signup"> Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group" >
        <button class="btn btn-primary" type="submit" style="margin-top:5px;border:none;padding:10px; font-size:20px; background-color: #c85204">SIGN UP</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>
