<div style="display: flex; flex-direction:column; align-items: center; max-height:100%; background-image: url(https://images.unsplash.com/photo-1547592180-85f173990554?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80); background-size:cover" >
    <div class="row justify-content-center searchbar" style="margin: 0px;">
    <div class="form-group search-div" style="display: flex; flex-direction: column; justify-content: center;">
        <p class="label" style="font-size:40px; font-weight: 200; color: black; padding-top: 50px;">Search for a recipe:</p>
        <input type="text" class="form-control input-value" id="dishSearched" placeholder="Enter a dish here" style="font-size: 20px;">
        <a href="#" class="btn btn-primary search-button" style="background-color: #c85204; padding:10px; margin:10px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size:20px; font-weight:200; border:none" >Search</a>
    </div> 
    </div>
      <div class="card" style="margin: 40px; font-size: 25px; font-weight: 200; color: black; padding-top:10px">
        <div class="card-body all-recipes" style=" padding-top:0px">
          <p style="font-size:25px; text-align:center; padding:15px; margin:0px">Search Results:</p>
          <div id="search-results" style="display: flex;">
   
          </div>
        </div>
      </div>
      <div class="card text-center" id="recipeEl"style="font-size: 25px; font-weight: 200; color: black;margin:20px 20px 50px 20px;">
        <p style="font-size:40px; text-align:center; padding:40px 10px 0px 10px">Recipe:</p>
        <div class="card-body" id="ind-recipe">
         
          
        </div>
        <div id="recipe-ing">

        </div>
        <div id="recipe-ins">

        </div>

        <a href="/UserCookBook" class="btn btn-primary" id="add-to-cookbook"  style="background-color: #c85204; padding:10px; margin:10px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size:20px; font-weight:200; border:none">Add to Cookbook</a>
     </div>
</div>
<script rel="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script rel="text/javascript" src="/js/searchrecipe.js" > </script>

