body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
}

h3 {
    color: #073B3A;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
nav{
    color: #c85204;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
nav a  {
    color:white;
    font-size: 22px;
    font-weight: 200;
    padding:22px;
    letter-spacing: 1.5px;
}

.recipes-home p{
    font-size: 25px;
    line-height: 1.5;
}
#navheading{
    font-family: 'Caveat', cursive;
    font-size: 50px;
    font-weight: 200;
    margin:20px;
    color:white;
    justify-content: center;
    letter-spacing: 3px;

}

#navbar-container {
    display: flex;
    background-color: #c85204;
    justify-content: space-between;
}

#hero-container {
    padding: 5em;
}


#app-title {
    font-size: 10em;
    margin-top: 0.25em;
    font-family: 'Caveat', cursive;
    color: orangered;
}

.blockquote-footer {
    font-size: larger;
}

.mb-0 {
    font-size: xx-large;
}